
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/.cache/
/.auth/
.env
.env.local
/logs/
test-report/
/allure-report
/allure-results
/results/
/dist/
.nyc_output/
coverage/
